/* 

- Primary color : #ca3378

*/
.control-one .carousel-control:hover {
    background-color: #ca3378;
}

hr {
	background: #ca3378;
}

.btn-promo{
    border: 1px solid #ca3378;
    background-color: #ca3378;
}

.btn-promo-border{
    border: 1px solid #ca3378;
}

#menu a.navbar-brand i.fa {
	color: #ca3378;
}

#menu.navbar-default .navbar-nav > li > a:hover {
	color: #ca3378;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ca3378 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #ca3378;
	border-color: #ca3378;
}

.color {
	color: #ca3378;
}

#home .carousel-caption .btn:hover {
    color: #ca3378;
}

#tt-home-carousel > .item-prev i:hover,
#tt-home-carousel > .item-next i:hover{
    background-color: #ca3378;
}

#services-section i.fa {
	color: #ca3378;
}

#team-section .thumb-wrapper::before ,.work-description {
background-color: rgba(202, 51, 120,.8);
}

.sing_link_img a:hover .fa{
	color: #ca3378;
}
a.read-more {
    border: 1px solid #ca3378;
    background-color: #ca3378;
}

#team-section .thumbnail {
  box-shadow: 0 2px 0 #ca3378;
}

.team-social a {
	color: #ca3378;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #ca3378;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #ca3378;
}

#statistics-section .part .num {
    color: #ca3378;
}

.planName.featured{
	background:#ca3378;
	border:2px solid #ca3378;
}
.plan-btn a:hover{
	color:#ca3378;
}
.cta-two-section{
	background:rgb(202, 51, 120);
}
.entry-header {}
.entry-meta {}
.entry-meta .the-time{
	color: #ca3378;
}
.entry-header span a:hover{
 	color: #ca3378;
}
.entry-header span a:hover{
 	color: #ca3378;
}
.entry-header .entry-title a:hover{
 	color: #ca3378;
}

.entry-footer .readmore:hover {
	color: #ca3378;
}

.light-box:hover, .light-box:focus { 
 -webkit-box-shadow: 0px 3px 0px 0px #ca3378;
 -moz-box-shadow: 0px 3px 0px 0px #ca3378;
 box-shadow: 0px 3px 0px 0px #ca3378; 
 }
 
 #contact-section hr {
	background: #ca3378;
}
#contact-section .fa {
	color: #ca3378;
}
#contact-section .btn {
	border: 2px solid #ca3378;
}

#contact-section .btn:hover, #contact-section .btn:focus {
	background: #ca3378;
	border: 2px solid #ca3378;
}

.footer-section .social-links li a:hover{
	background-color: #ca3378;
}

/* single blog post */


.entry-header .entry-meta li a:hover{
    color: #ca3378;
}

.entry-header h2 a{
    color: #ca3378;
}
.entry-header h2 a:hover{
    color: #C02232;
}

.entry-footer a:hover {
    background: #ca3378;
}

.widget-post-info h3 a:hover {
    color: #ca3378;
}

/*Gallery Post*/
.gallery-slider .carousel-control {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    
}

.gallery-slider .carousel-control:focus, 
.gallery-slider .carousel-control:hover {
    background-color: #ca3378;
}


/* Quote Post
/* ------------------------------ */




/*Link Post*/
.post-wrapper .link-post a {
    color: #ca3378;
}
.post-wrapper .link-post:hover a{
    color: #fff;
    background-color: #ca3378;
}


/* PAGINATION
----------------------------------------------- */

.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus {
    background-color: #ca3378;
}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
    background-color: #ca3378;
    border-color: #ca3378;
}

/* Sidebar*/
.sidebar-wrapper .widget h2 {
    color: #ca3378;
}

.widget_categories ul li a:hover .badge {
    background-color: #ca3378;
}
.widget_tag_cloud ul li a:hover{
    background-color: #ca3378;
}


.author-box-info h3 small {
    color: #ca3378;
}
.author-social ul li a:hover {
    color: #ca3378;
}

.btn-primary {
    background-color: #ca3378;
    border-color: #ca3378;
	
}
.btn-primary:hover {
    background-color: #ca3378;
    border-color: #ca3378;
	color:#181818;
}

 
.pager li>a:focus, 
.pager li>a:hover {
    background-color: #ca3378;
    border: 1px solid transparent;
}

/* single portfolio */

.portfolio-nav a:hover {
	color: #ca3378;
}

.btn-primary {
    background-color: #ca3378;
    border-color: #ca3378;
}
.btn-primary:hover {
    background-color: #ca3378;
    border-color: #ca3378;
	color: #181818;
}

.portfolio-meta li a:hover .fa {
   color:#ca3378;
}

.page-404 .error-link-home:hover {
    color: #ca3378;
	
}